@charset "utf-8";
/* CSS Document */

*{
	outline:0;
	border-spacing: 0 !important;
	}
table{
    border-collapse: separate;
	}
th, td{vertical-align:top;}
#e-listing table, .pagecontainer table {
    border-collapse: separate !important;
	}
ul{
	padding-left:0;
	margin:0;
	}
li{
	list-style:none;
	}
th, td{
	vertical-align:top;
	}
.clear{
	width:100%; 
	clear:both;
	height:0; 
	padding:0; 
	margin:0; 
	line-height:0;
	}
.hr{
	width:100%; 
	height:1px; 
	background:#d2d2d2; 
	display:block; 
	line-height:0 !important;
	font-size:0 !important;
	}
#e-listing h1, #e-listing h2, #e-listing h3, #e-listing h4, #e-listing h5, #e-listing h6{
	font-family:Arial, Helvetica, sans-serif !important; 
	margin:10px 0 !important;
	color:#444444;
	}
#e-listing h1, .e-store-page h1{font-size:23px !important; font-weight:normal;}
#e-listing h2, .e-store-page h2{font-size:19px !important; font-weight:normal !important;}
#e-listing h3, .e-store-page h3{font-size:17px !important; font-weight:bold !important;}
#e-listing h4, .e-store-page h4{font-size:15px !important; font-weight:bold !important;}
#e-listing h5, .e-store-page h5{font-size:13px !important; font-weight:bold !important;}
#e-listing h6, .e-store-page h6{font-size:11px !important; font-weight:bold !important;}

#CentralArea, #LeftPanel, #e-listing, #e-page, .pagecontainer td, .pagecontainer .g-std, .v4snexp ul {
	font:12px/1.55em Arial,Helvetica,sans-serif; 
	color:#444444 !important; 
	}
#e-listing, #body body, .pagelayout, .ext-gecko{
	background:url(../images/bkg.jpg) 0 0 repeat-x #cccccc;
	}
.e-center-content{
	width:1026px;
	margin:0 auto;
	}
.lev1 a:link, .v4clp a:link, a.all_cats{
	text-decoration: none;
	}
body #e-listing a:link, #CentralArea a:link, .v4clp a:link, a.all_cats, .link a:link, .e-block a:link{
	color: #263586 !important;
	}
a:visited, ins, .bbc-in a {
	text-decoration: none;
	}
body .g-novisited a:visited, a:visited, a.all_cats:visited, .link a:visited, .details a:visited, .e-block a:visited  {
	color: #263586 !important;
	}
body a:hover, a:hover, .bbc-in a:hover, a.all_cats:hover, .link a:hover, .e-block a:hover {
	color:#000; 
	text-decoration: underline !important;
	}
	
/* Page */
#e-listing{
	text-align:center;
	}
.e-center-page{
	width: 860px;
    margin: 0 auto;
    text-align: left;
	overflow:hidden;
	}
.e-content .e-center-page{
	padding-top:10px;
	}
.e-col-left{
	float:left;
	}
.e-col-left,
#LeftPanel{
	width:200px;
	padding-top:10px;
	}
.e-col-left{
	border-right:none !important;
	}
.e-col-right{
	width:200px;
	padding-top:10px;
	float:right;
	}
.e-col-center{
	width:100%;
	clear:both;
	padding-top:18px;
	}
.e-coll-3 .e-col-center{
	float:left !important;
	padding-top:0 !important;
	clear:none;
	}
.e-coll-3 .e-col-center,
.e-coll-3 .e-block .rs_box{
	width:445px !important;
	}
.e-coll-3 .e-col-center .e-block,
.e-coll-2 .e-col-center .e-block,
#LeftPanel .e-block-a-link,
.e-col-left .e-block-a-link{
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	}
.e-coll-2 .e-col-center{
	width:640px;
	float:right;
	padding-top:18px;
	clear:none;
	}
.e-header .e-center-content{
	background:url(../images/header.png) 50% 40px no-repeat;
	}
.e-content .e-center-content,
.e-footer .e-center-content{
	background:url(../images/page-fon.png) 50% 0 repeat-y;
	}
.e-content .e-center-page{
	overflow:visible;
	}
.e-call{
	background:url(../images/purchase-with-confidence.png) 50% 100% no-repeat;
	font-family: Patua One;
	color:#1f1f1f;
	text-align:center;
	font-size:11px;
	float:left;
	width: 235px;
	height: 158px;
	margin-top:45px;
	}
.e-call strong{
	color:#263586;
	font-size: 25px;
    font-weight: bold;
    line-height: 28px;
	}
	
/* Header */
.e-header{
	padding-top:40px;
	}
.e-header .e-center-content .e-center-page{
	position:relative;
	}
	
/* Logo */
.e-logo{
	margin:0;
	padding:0;
	width: 331px;
	position:absolute;
	left:255px;
	top:0;
	}
	.e-logo strong{ 
		position:absolute;
		left:-9999px;
		font-size:0; 
		text-indent:-999em; 
		line-height:0;
		}
	#e-listing .e-logo h1,
	#e-listing .e-logo h1 a{
		width:331px;
		height:159px;
		margin:0 !important;
		}
	.e-logo h1 a{
		background:url(../images/logo.png) 0 0 no-repeat;
		display:block;
		text-decoration:none;
		}

/* Mian menu */
.e-main-menu{
	position:absolute;
	top:169px;
	left:210px;
	}
	.e-main-menu ul{
		padding:0 !important;
		}
	.e-main-menu li{
		float:left;
		background:url(../images/sp.gif) 0 50% no-repeat
		}
	.e-main-menu .first{
		background:none;
		}
	.e-main-menu a,
	#e-listing .e-main-menu a:link,
	#e-listing .e-main-menu a:visited{
		margin: 0 1px;
		padding: 0 10px;
		color: #231F20 !important;
		float: left;
		font-size:12px !important;
		text-decoration:none !important;
		}
	#e-listing .e-main-menu a:hover{
		text-decoration:underline !important;
		color: #231F20 !important;
		}
	.e-main-menu a span{
		font-size:12px;
		font-weight:normal !important;
		float:left;
		cursor:pointer;
		}

/* Second menu */
.e-second-menu{
    color: #231F20;
    text-align: right;
	float:right;
	clear:right;
	margin-top:78px;
	width:280px;
	}
	.e-second-menu ul{
		float:right;
		}
		.e-second-menu li{
			float:left;
			margin-left:8px;
			}
		.e-second-menu li.first{
			background:none;
			}
		#e-listing .e-second-menu a:link,
		#e-listing .e-second-menu a span{
			font-size:11px;
			font-weight:bold;
			text-decoration:none !important;
			color:#231F20 !important;
			
			}
		.e-second-menu a:hover,
		#e-listing .e-second-menu a:hover span{
			color:#231F20 !important;
			text-decoration:underline !important;
			cursor:pointer;
			}
		#e-listing .e-second-menu strong,
		#e-listing .e-second-menu strong span,
		#e-listing .e-second-menu a:hover strong,
		#e-listing .e-second-menu a:hover strong span{
			color:#231F20 !important;
			font-weight:bold;
			}
			
/* Search */
.e-search-block{
	background:url(../images/search.png) 0 0 no-repeat;
	height:31px;
	width:242px;
	position:absolute;
	top:117px;
	right:0;
	}
	.e-search-block form{
		float:left;
		width:242px;
		}
.v4mid input.v4sbox,
.e-search-block .input{
    background: none;
    border: none;
    color: #777 !important;
    width:188px;
	float:left;
	display:block;
	}
.e-search-block .input input{
	color: #777 !important;
	position:relative;
	top:7px;
	left:9px;
	width:188px;
	}
.v4mid form[name="Search"] input[type="submit"],
.e-search-block .submit{
    background:none;
    border: none;
	width:35px;
	height:31px;
	color:#fff !important;
	font-size:0 !important;
	cursor:pointer !important;
	text-align:center;
	display:block;
	float:right;
	}
	.e-search-block input[type="submit"],
	#e-listing .submit input{
		width:35px;
		height:31px;
		color:#fff;
		}
.e-search-block input[type="submit"],
.e-search-block .v4sbox,
.e-search-block .submit input{
	background:none !important;
	border:none !important;
	padding: 0;
	}
.e-search-block .g-hdn{
	display:none;
	}
.v4acpcont .v4sbox{
	border:1px solid #ddd !important;
	width:123px !important;
	padding:5px 3px !important;
	border-radius:3px;
	}
#LeftPanel .v4acpcont input[type="submit"]{
	background:#9a9a9a !important;
	border:solid 1px #0c0c0c;
	text-shadow:0 1px 0 #ccc;
	color:#1e1e1e !important;
	font-family: Patua One !important;
    font-size: 12px !important;
	border-radius:3px;
	width:auto;
	height:27px !important;
	position:relative;
	left:-2px;
	}
.v4acpcont input[type="checkbox"]{
	margin:3px 3px 0 0 !important;
	} 

/* Content */	
/* Left collumn Right collumn*/
.e-block,
.e-home-prod-block,
#TopPromoArea .v4acpcont,
#CentralArea .v4acpcont,
#LeftPanel .v4acpcont,
.e-product-description .e-block-right h2{
	box-shadow: 0px 5px 8px #666666;
	-webkit-box-shadow: 0px 5px 8px #666666;
	-moz-box-shadow: 0px 5px 8px #666666;
    margin: 0 0 20px;
	}
#TopPromoArea .v4acpcont{
	box-shadow:0 1px 2px #999999 !important;
	}
.e-col-right .e-block{
	margin-left:10px;
	}
.e-content .e-col-center .e-block{
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	}
.e-block-title,
table.v4acp tr.v4acp_head td.v4title,
.e-product-description .e-block-right h2,
div.fpcc{
	background:url(../images/block-title-fon.png) 0 0 repeat-x #a0a0a0;
    padding: 6px 10px 7px 12px !important;
	box-shadow: 0 1px 1px #777;
	text-align:left;
	border-collapse:separate;
	position:relative;
	border-top:solid 1px #858585;
	border-left:solid 1px #878787;
	border-right:solid 1px #626262;
	}
	.e-block-title span,
	.v4acpcont .v4acp td.v4title font,
	.v4acpcont .v4acp td.v4title font h2,
	.e-product-description .e-block-right h2,
	.fpcc span {
		color: #444444 !important;
		font-family:Patua One;
		font-size: 16px !important;
		font-weight:normal;
		line-height:16px;
		}
	#CentralArea .fpcc span,
	#CentralArea .v4acpcont .v4acp td.v4title font,
	#CentralArea .v4acpcont .v4acp td.v4title font h2,
	#TopPromoArea .v4acpcont .v4acp td.v4title font,
	#TopPromoArea .v4acpcont .v4acp td.v4title font h2{
		color:#444444 !important;
		}
	.e-product-description .e-block-right h2{
		margin-bottom:0 !important;
		z-index:100;
		}
.e-col-left .e-block-content,
table.v4midBox .v4mid, 
tr.v4footr td.v4footd,
.e-product-price,
.rs_box,
.toplne {
	background:#fff !important;
	padding:10px !important;
	}
.e-block-content-text p{
	}
.e-block .e-block-content-img img{
	width:100%;
	}
	
/* Left menu */
.e-block-content-mian-menu ul li,
.lcat .lev1 li,
.v4clp .oc li,
.s_recat li,
.v4mid div.ttl{
	padding:0 0 7px 8px !important;
	list-style:none;
	margin: 0 !important;
	font-weight:bold !important;
	background:url(../images/disc.png) 0 7px no-repeat;
	font-size:12px;
	}
#TopPromoArea .v4mid div.ttl,
#TopPromoArea .v4clp .oc li{
	background:none !important;
	padding-left:0 !important;
	}
.e-lev2{
	margin-bottom:10px !important;
	}
.lcat .lev1 .lev2 li{
	padding-bottom:0 !important;
	}
.lcat .lev1 .lev2,
.lev1 .lev2,
.lev1 .lev2 .lev3{
	margin-bottom:10px !important;
	padding-left:8px !important;
	}
.e-block-content-mian-menu .lev1{
	margin-top:-2px;
	}
.e-block-content-mian-menu ul li a:link,
.lcat .lev1 li a:link,
.lcat .lev1 li a,
.all_cats, .ttl a:link,
.v4clp .oc a:link,
.lcat a.all_cats,
.e-block-content-mian-menu ul li a:visited,
.lcat .lev1 li a:visited,
.lcat .lev1 li a,
.all_cats, .ttl a:visited,
.v4clp .oc a:visited,
.lcat a.all_cats:visited,
.s_recat li a:link,
.s_recat li a:visited,
.link a:link,
.link a:visited{
	text-decoration:none !important;
	}
.e-block-content-mian-menu ul li a:link,
.lcat li span,
.lcat .ttl{
	color:#282828 !important;
	padding:4px 0;
	}
#e-listing .lev1 li a:link,
#e-listing .lev1 li a:visited,
#e-listing .lev1 .lev2 .lev2-parent a:link,
#e-listing .lev1 .lev2 .lev2-parent a:visited,
.v4midBox .lev1 li a:link,
.v4midBox .lev1 li a:visited,
.v4midBox .lev1 .lev2 .lev2-parent a:link,
.v4midBox .lev1 .lev2 .lev2-parent a:visited,
.v4clp .oc li a:link,
.v4clp .oc li a:visited,
#LeftPanel .lcat .ttl a,
#LeftPanel .s_recat a,
#LeftPanel .link a:link,
#LeftPanel .link a:visited{
	color:#282828 !important;
	font-weight:normal;
	font-size:12px;
	text-decoration: underline !important;
	}
#e-listing .e-block-content-mian-menu ul li a:hover,
.lcat .lev1 li a:hover,
.v4clp .oc a:hover,
.lcat a.all_cats:hover,
.s_recat li a:hover,
.link a:hover,
#e-listing .lev1 li a:hover,
#e-listing .lev1 .lev2 .lev2-parent a:hover,
.v4midBox .lev1 li a:hover,
.v4midBox .lev1 .lev2 .lev2-parent a:hover,
.v4clp .oc li a:hover,
#LeftPanel .lcat .ttl a:hover,
#LeftPanel .s_recat a:hover{
	text-decoration:underline !important;
	color:#282828 !important;
	}
	
/* Product */
.e-gallery{
	text-align:center;
	margin-bottom:30px;
	overflow:hidden;
	}
	.e-gallery img,
	.e-gallery .gallery-image img{
		margin-bottom:15px;
		max-width:600px;
		box-shadow: 0 0 8px #666666;
		}
	.e-gallery .gallery-thumbnail{
		margin-top:10px;
		display:table;
		}
		.e-gallery .gallery-thumbnail li{
			float:left;
			margin:3px;
			}
		.e-gallery .gallery-thumbnail img{
			background-color:#fff;
			border:solid 1px #ddd;
			height:auto !important;
			width:73px !important;
			margin:3px !important;
			}
	#e-listing .e-gallery-h1{
		font-family:Patua One !important;
    	font-size: 20px !important;
		color:#282828 !important;
		font-weight:normal;
		margin:0 0 25px 0 !important;
		padding-top:0 !important; 
		}
	#e-listing .e-gallery h4{
		padding:0 0 2px 0;
		font-size:12px !important;
		font-weight:bold !important;
		border-bottom:1px solid #ddd;
		}

/* Product Description */	
.e-product-description .e-block-right{
	background: none repeat scroll 0 0 #FFFFFF;
	border:solid 1px #ddd;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 20px;
	}
.e-product-description .e-block-left{
	width:100% !important;
	float:left;
	margin-bottom:20px;
	margin-top:20px;
	}
#e-listing .e-product-description h2{
	font-size: 12px !important;
	font-weight:bold !important;
	}
			
/* Product Action */
.e-product-actions div{
	}
.e-product-actions ul li{
	float:left;
	clear:both;
	margin-left:30px;
	}
	.e-product-actions .buy-it-now,
	.e-product-actions .e-buy-links{
		float:left;
		margin-right:25px;
		}	
		.e-product-actions .buy-it-now a{
			width:152px;
			height:43px;
			background: url(../images/button.png) 0 0 no-repeat;
			color: #662323;
			font-size: 16px;
			font-weight:bold;
			text-decoration: none;
			vertical-align: middle;
			display:block;
			text-shadow: 0 1px 0 #fff;
	   		}
	.e-product-actions .buy-it-now a:hover {
	   color: #662323;
	   text-decoration:none !important;
	   }
		.e-product-actions .buy-it-now a span{
			color: #662323 !important;
			cursor:pointer;
			text-align:center;
			position:relative;
			top:12px;
			left:36px;
			}
	.e-buy-links{
		margin-top:13px;
		}

/* Table Attribute */
#e-listing table.attr{
	border-collapse: separate;
	border:none !important;
    width: 90%;
	color:#444 !important;
	border:none !important;
	font-size:12px;
	}
#e-listing .e-product-info table{
	border-collapse: collapse !important;
	border:solid 1px #D9DDE3 !important;
	}
#e-listing .e-product-info table tr td{
	border:solid 1px #D9DDE3 !important;
	}
table.attr tr th, table.attr tr td,
#e-listing .e-product-info table tr td{
    padding: 5px 8px !important;
	}
table.attr tr th,
.about-the table table tr th,
#e-listing .e-product-info table tr th{
	color:#222 !important;
	}
table.attr, #e-listing .e-product-info table{background-color:none;}
table.attr thead tr th, #e-listing .e-product-info table thead tr th{font-weight:bold;}
table.attr tbody tr + tr td{border-top:solid 1px #D9DDE3 !important;}
table.attr tbody tr td, #e-listing .e-product-info table tbody tr td{}
table.attr tfoot tr td, #e-listing .e-product-info table tfoot tr td{}
table.attr tr:hover td, #e-listing .e-product-info table tr:hover td{}
table.attr tr:hover td:hover, #e-listing .e-product-info table tr:hover td:hover{}

/* Tabs */
.e-tab-block{
	clear:both;
	position:relative;
	}
	.e-tab-block .e-tab-content{
		border:solid 1px #808080;
		box-shadow: 1px 1px 1px #808080;
		background:url(../images/tab-content.png) 0 0 repeat-x #a0a0a0;
		border-radius:0 3px 3px 3px;
		clear:both;
		display:none;
		padding:10px 20px;
		overflow:hidden;
		font-size:12px;
		top:0;
		color:#444 !important;
		}
		#e-listing .e-tab-content li{
			list-style:disc !important;
			}
		#e-listing .e-tab-content h2{
			padding:0 0 5px 0;
			font-size:10px !important;
			font-weight:bold !important;
			text-transform:uppercase;
			}
		.e-tab-block .e-tab-content ul{
			margin-left:20px;
			}
		.e-tab-block .e-tab-content li{
			margin:5px 0 !important;
			}

	/* Tabs navigation */
	.e-tab{
		width:100%;
		height:25px;
		display:block;
		top:1px;
		position:relative;
		z-index:30;
		}
		.e-tab a{
			font-family:Patua One;
			font-size:14px;
			color:#282828;
			background: url(../images/tab.jpg) 0 0 no-repeat;
			float: left;
			display:block;
			text-decoration:none;
			
			padding-left:16px;
			}
		.e-tab-block .e-tab li{
			float:left;
			}
		.e-tab a span {
			background: url(../images/tab.jpg) 100% 0 no-repeat;
			padding:6px 20px 6px 4px;
			font-size: 14px;
			color: #fff;
			cursor: pointer;
			text-decoration:none;
			cursor:pointer;
			display:block;
			float: left;
			}
		.e-tab a:hover{
			color: #fff !important;
			display:block;
			text-decoration:none !important;
			}
		.e-tab .active a{
			background: url(../images/tab.jpg) 0 -70px no-repeat;
			color: #282828 !important;
			position:relative;		
			}
		.e-tab .active a span{
			background: url(../images/tab.jpg) 100% -70px no-repeat;
			color: #282828 !important;
			}

/* Footer */
.e-footer .e-center-page{
	padding:100px 0 50px 0;
	}
	
/*Prom block*/
.e-category-gallery{
	border-top:solid 1px #ddd;
	width:778px;
	height:160px;
	margin-left:-14px;
	position:relative;
	z-index:1000;
	}
	.e-category-gallery ul{
		padding-top:11px;
		padding-left:11px;
		}
	.e-category-gallery li{
		float:left;
		}
	.e-category-gallery li.first{
		margin-right:10px;
		}
	.e-category-gallery a img{
		border:solid 1px #ddd;
		}
	.e-category-gallery a{
		background:#ddd;
		display:block;
		}

/* Home prod */
.e-category-gallery{
	width:778px;
	float:left;
	border-bottom:solid 1px #ddd;
	}
.e-category-gallery ul{
	width:765px;
	height:110px !important;
	padding:0 !important;
	margin:10px -10px 0 10px;
	}
	.e-category-gallery ul li{
		border:solid 1px #ddd;
		float:left;
		margin:0 0 10px 10px;
		position:relative;
		width:98px;
		height:98px;
		list-style:none;
		display:block;
		}
	.e-category-gallery ul li.first{
		margin-left:0 !important;
		}
		.e-category-gallery ul li a:link, 
		.e-category-gallery ul li a:visited{
			color:#fff !important;
			text-align:center;
			font-weight:bold !important;
			text-transform:uppercase;
			font-size:10px !important;
			text-decoration:none !important;
			text-shadow:0 1px 0 #fff;
			}
			.e-category-gallery ul li a span{
				background: url(../images/home-prod-title-fon.png) repeat-x scroll 10px 100%;
				border:solid #ddd;
				border-width:1px 0 0 0;
				color:#000 !important;
				display:block;
				clear:both;
				position:absolute;
				width:98px;
				text-align:center;
				padding:5px 0px;
				bottom:0;
				left:0;
				line-height:12px;
				z-index:10;
				cursor:pointer;
				}
			.e-category-gallery a:hover,
			.e-category-gallery a:hover span{
				color:#4AB5CC !important;
				}
				.e-category-gallery ul li a{
					display:block;
					}
			.e-category-gallery ul li a img{
				width:98px;
				height:98px;
				}
			.e-category-gallery a:hover img,
			.e-block a:hover img,
			.e-category-gallery a:hover img,
			.sb input:hover,
			.gallery-thumbnail li:hover img,
			.e-product-actions .buy-it-now a:hover,
			.e-store-page-gallery a:hover img{
				opacity: 0.8;
				background-color:#fff;
				}
.e-store-page-gallery a img{
	border:1px solid #DDDDDD !important;
	margin:5px !important;
	}