<?xml version="1.0"?>
<config>
    <modules>
        <MagicToolbox_MagicThumb>
            <version>4.4.34</version>
        </MagicToolbox_MagicThumb>
    </modules>
    <admin>
        <routers>
            <magicthumb>
                <use>admin</use>
                <args>
                    <module>MagicToolbox_MagicThumb</module>
                    <frontName>magicthumb</frontName>
                </args>
            </magicthumb>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <magictoolbox translate="title" module="magicthumb">
                <title>Magic Toolbox</title>
                <sort_order>300</sort_order>
                <children>
                    <magicthumb translate="title" module="magicthumb">
                        <title>Magic Thumb settings</title>
                        <sort_order>10</sort_order>
                        <action>magicthumb/adminhtml_settings/index</action>
                    </magicthumb>
                </children>
            </magictoolbox>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <magictoolbox>
                            <title>Magic Toolbox</title>
                            <sort_order>300</sort_order>
                            <children>
                                <magicthumb>
                                    <title>Magic Thumb settings</title>
                                    <sort_order>10</sort_order>
                                </magicthumb>
                            </children>
                        </magictoolbox>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <magicthumb>
                    <file>magicthumb.xml</file>
                </magicthumb>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <magicthumb>
                    <file>magicthumb.xml</file>
                </magicthumb>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <magicthumb>
                <class>MagicToolbox_MagicThumb_Model</class>
                <resourceModel>magicthumb_mysql4</resourceModel>
            </magicthumb>
            <magicthumb_mysql4>
                <class>MagicToolbox_MagicThumb_Model_Mysql4</class>
                <entities>
                    <settings>
                        <table>magicthumb</table>
                    </settings>
                </entities>
            </magicthumb_mysql4>
        </models>
        <resources>
            <magicthumb_setup>
                <setup>
                    <module>MagicToolbox_MagicThumb</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magicthumb_setup>
            <magicthumb_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magicthumb_write>
            <magicthumb_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magicthumb_read>
        </resources>
        <blocks>
            <magicthumb>
                <class>MagicToolbox_MagicThumb_Block</class>
            </magicthumb>

            <catalog>
                <rewrite>
                    <product_new>MagicToolbox_MagicThumb_Block_Product_New</product_new>
                </rewrite>
                <rewrite>
                    <product_view_options_type_select>MagicToolbox_MagicThumb_Block_Product_View_Options_Type_Select</product_view_options_type_select>
                </rewrite>
            </catalog>

            <!--<page>
                <rewrite>
                    <html_head>MagicToolbox_MagicThumb_Block_Html_Head</html_head>
                </rewrite>
            </page>-->
        </blocks>
        <helpers>
            <magicthumb>
                <class>MagicToolbox_MagicThumb_Helper</class>
            </magicthumb>
        </helpers>

    </global>
</config>
