<?xml version="1.0"?>
<config>
    <modules>
        <ArtsOnIT_GeoReport>
            <version>2.0.3</version>
        </ArtsOnIT_GeoReport>
    </modules>
    <frontend>
        <routers>
            <georeport>
                <use>standard</use>
                <args>
                    <module>ArtsOnIT_GeoReport</module>
                    <frontName>georeport</frontName>
                </args>
            </georeport>
        </routers>
        <layout>
            <updates>
                <georeport>
                    <file>georeport.xml</file>
                </georeport>
            </updates>
        </layout>
		<events>
			<checkout_onepage_controller_success_action>
			  <observers>
				<georeport_observer>
				  <type>singleton</type>
				  <class>georeport/observer</class>
				  <method>setGeoReportPoint</method>
				</georeport_observer>
			  </observers>
			</checkout_onepage_controller_success_action>
		</events>
    </frontend>
    <admin>
        <routers>
			<georeport>
				<use>admin</use>
				<args>
					<module>ArtsOnIT_GeoReport</module>
					<frontName>georeport</frontName>
				</args>
			</georeport>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<report >
                <children>
					<salesroot>
						<children>
							<georeport translate="title" module="georeport">
								<title>Geo Report</title>
								<action>georeport/adminhtml_GeoReport</action>
								<sort_order>1</sort_order>
							</georeport>
						</children>
					</salesroot>	
                </children>
            </report>
    	</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
                    <children>
                        <report>
                            <children>
								<salesroot>
									<children>
										<georeport module="georeport">
											<title>GeoReport Module</title>
											<sort_order>1</sort_order>
										</georeport>
									</children>
								</salesroot>
							</children>
						</report>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <georeport translate="title">
                                            <title>GeoReport Configuration</title>
                                            <sort_order>60</sort_order>
                                        </georeport>
									</children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<georeport>
					<file>georeport.xml</file>
				</georeport>
			</updates>
		</layout>
    </adminhtml>   
     <global>
        <models>
            <georeport>
                <class>ArtsOnIT_GeoReport_Model</class>
                <resourceModel>georeport_mysql4</resourceModel>
            </georeport>
            <georeport_mysql4>
                <class>ArtsOnIT_GeoReport_Model_Mysql4</class>
                <entities>
                    <georeport>
                        <table>georeport</table>
                    </georeport>
                </entities>
            </georeport_mysql4>
        </models>
        <resources>
            <georeport_setup>
                <setup>
                    <module>ArtsOnIT_GeoReport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </georeport_setup>
            <georeport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </georeport_write>
            <georeport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </georeport_read>
        </resources>

        <blocks>
            <georeport>
                <class>ArtsOnIT_GeoReport_Block</class>
            </georeport>
        </blocks>
        <helpers>
            <georeport>
                <class>ArtsOnIT_GeoReport_Helper</class>
            </georeport>
        </helpers>
		<customer>
            <address_templates>
            
                    <georeport>
                    {{var street1}}{{depend street2}} {{var street2}}{{/depend}}{{depend street3}} {{var street3}}{{/depend}}{{depend street4}} {{var street4}}{{/depend}}, {{depend city}}{{var city}},{{/depend}}{{depend region}}{{var region}}, {{/depend}}{{var postcode}} {{var country}}
                    </georeport>
			 
			</address_templates>
		</customer>
    </global>
	<crontab>
        <jobs>
            <reviewreminder_send>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>georeport/observer::scheduledLocateOrders</model></run>
            </reviewreminder_send>
        </jobs>
    </crontab>
	<default>
        <georeport>
			<maps>
				<mapprovider>yahoo</mapprovider>
				<mapprovider_key>lIRhnTvV34ECoPFq9vS3b5RYXj8ZWxIFwhtAa.RzQXl9zhVkhyp7YAv_B.rZYZlJixk-</mapprovider_key>
			</maps>
            <report>
				<default_filter>0</default_filter>	
				<report_filter>300</report_filter>	
			</report> 
			<cron>
				<cron_max_items>40</cron_max_items>
				<enable>1</enable>
			</cron>
        </georeport>

    </default> 
</config>