<?xml version="1.0"?>
<config>
	<modules>
		<AccurateTax_Advanced>
			<version>3.2.3</version>
		</AccurateTax_Advanced>
	</modules>
    <global>
		<models>
		    <advanced>
		        <class>AccurateTax_Advanced_Model</class>
                <resourceModel>advanced_mysql4</resourceModel>
		    </advanced>
		    <advanced_mysql4>
                <class>AccurateTax_Advanced_Model_Mysql4</class>
                <entities>
                    <log>
                        <table>accuratetax_advanced_log</table>
                    </log>
                </entities>
            </advanced_mysql4>
			<adminhtml>
				<rewrite>
					<config>AccurateTax_Advanced_Model_Adminhtml_Config</config>
					<sales_order_create>AccurateTax_Advanced_Model_Adminhtml_Sales_Order_Create</sales_order_create>
				</rewrite>
			</adminhtml>
			<admin>
				<rewrite>
					<session>AccurateTax_Advanced_Model_Admin_Session</session>
				</rewrite>
			</admin>
			<sales>
				<rewrite>				
					<quote_address>AccurateTax_Advanced_Model_Sales_Quote_Address</quote_address>
				</rewrite>
			</sales>
		</models>
		<helpers>
            <advanced>
                <class>AccurateTax_Advanced_Helper</class>
            </advanced>
			<tax>
				<rewrite>
					<data>AccurateTax_Advanced_Helper_Tax_Data</data>
				</rewrite>
			</tax>
        </helpers>
        <blocks>
            <checkout>
				<rewrite>
					<onepage_shipping_method_available>AccurateTax_Advanced_Block_Checkout_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
				</rewrite>
			</checkout>
			<adminhtml>
				<rewrite>
					<tax_rate_grid>AccurateTax_Advanced_Block_Adminhtml_Tax_Rate_Grid</tax_rate_grid>
					<tax_rate_form>AccurateTax_Advanced_Block_Adminhtml_Tax_Rate_Edit_Form</tax_rate_form>
				</rewrite>
			</adminhtml>
		</blocks>
		<resources>
            <advanced_setup>
                <setup>
                    <module>AccurateTax_Advanced</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advanced_setup>
            <advanced_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advanced_write>
            <advanced_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advanced_read>
        </resources>
        <events>
            <admin_system_config_changed_section_tax>
                <observers>
                    <advanced>
                        <type>singleton</type>
                        <class>advanced/observer</class>
                        <method>adminSystemConfigChangedSectionTax</method>
                    </advanced>
                </observers>
            </admin_system_config_changed_section_tax>
            <sales_quote_collect_totals_after>
                <observers>
                    <advanced>
                        <type>singleton</type>
                        <class>advanced/observer</class>
                        <method>salesQuoteCollectTotalsAfter</method>
                    </advanced>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
	</global>
	<adminhtml>
	    <menu>
			<sales>
					<tax>
						<rules>
							
						</rules>
						<rates>
							
						</rates>
						<import_export>
							
						</import_export>
					</tax>
			</sales>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<advanced>
							<title>AccurateTax Advanced Module</title>
							<sort_order>0</sort_order>
						</advanced>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
	    <tax>
	        <advanced>
	            <allowinvalid>1</allowinvalid>
	            <agree>0</agree>
	            <onlyscrubtaxable>1</onlyscrubtaxable>
	            <url>https://enterprise.accuratetax.com/service.php</url>
	            <clientinfo>0</clientinfo>
	            <debug>0</debug>
	            <disable>0</disable>
	        </advanced>
	    </tax>
	</default>
</config>
